[target.thumbv6m-none-eabi]
runner = "probe-rs run --chip RP2040 --speed 100"

# Use flip-link to catch stack overflows as hard faults
linker = "flip-link"

rustflags = [
    "-C", "link-arg=--nmagic",
    "-C", "link-arg=-Tlink.x",
    "-C", "link-arg=-Tdefmt.x",
]

[build]
target = "thumbv6m-none-eabi"

[env]
DEFMT_LOG = "info"
